{% include header.html %}

		<h3>Training June 15 to 17<br>Conference June 18 to 19<br>At the Convention Center in Dublin</h3>
		<!--<h4>Submit to the <a href="program/call-for-papers">Call for Papers</a> or <a href="program/call-for-trainings">Call for Trainings</a>!</h4>-->
		<h4><a href="https://owasp.submittable.com/submit/157930/global-appsec-dublin-2020-cfp" target="_blank">Call for Papers Is Here</a></h4>
		<h4><a href="https://owasp.submittable.com/submit/157929/global-appsec-dublin-2020-cft" target="_blank">Call for Trainings is Here</a></h4>
</header>


{{content}}

{% include footer.html %}
